:root {
    /* colours from https://developer.spotify.com/branding-guidelines/ */
    --green: #1DB954;
    --black: #191414;
    --white: #FFFFFF;
}

* {
    /* center all elements */
    margin: auto;

    background: var(--black);
    color: var(--white);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

h1 {
    margin: 5px auto;
    color: var(--green);
}

h2 {
    margin: 5px auto;
}

input {    
    margin: 5px auto;
    
    padding: 5px;

    border-color: var(--green);
    border-width: 1px;
    border-radius: 5px;
}

button {    
    font-size: large;

    background: var(--black);
    color: var(--green);
    
    border-color: var(--green);
    border-width: 1px;
    border-radius: 5px;
}

button:hover {
    background: var(--green);
    color: var(--black);

    border-color: var(--green);
}

button.nav-left {
    float: left;
    margin-left: 20px;
}

button.nav-right {
    float: right;
    margin-right: 20px;
}

table {
    /* single line between cells */
    border-collapse: collapse;
}

th {
    padding: 5px;

    color: var(--black);
    background: var(--white);
}

td {    
    padding: 3px 10px;

    border-top-width: 1px;
    border-top-style: solid;
}
