:root {
    /* colours from https://developer.spotify.com/branding-guidelines/ */
    --green: #1DB954;
    --black: #191414;
    --white: #FFFFFF;
}

* {
    margin-left: auto; 
    margin-right: auto;

    background: var(--black);
    color: var(--white);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

h1 {
    color: var(--green);
}

button {    
    font-size: large;

    background: var(--black);
    color: var(--green);
    
    border-color: var(--black);
    border-width: 1px;
    border-radius: 5px;
}

button:hover {
    background: var(--green);
    color: var(--black);

    border-color: var(--green);
}

input {
    padding: 5px;
    
    border-color: var(--green);
    border-width: 1px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}

th {
    padding: 5px;

    color: var(--black);
    background: var(--white);
}

td {    
    padding: 3px;

    border-top-width: 1px;
    border-top-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}
