{% extends "base.html" %}

{% block head %}
    <title>Spotify Playlist Analyser</title>
{% endblock %}

{% block body %}
    {% if top_artists %}
        <h1>Top artists</h1>

        <br>

        <table>
            <thead>
                <tr>
                    <th>Playlist</th>
                    <th>Top artist(s)</th>
                    <th>Track count</th>
                </tr>   
            </thead>     

            <tbody>
                {% for item in top_artists %}
                    <tr>
                        <td>{{ item["playlist"] }}</td>
                        <td>{{ ", ".join(item["artists"]) }}</td>
                        <td>{{ item["count"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No top artists!</h1>
    {% endif %}

    <br>

    {% if duplicate_tracks %}
        <h1>Duplicate tracks</h1>

        <br>
        
        {% for playlist, data in duplicate_tracks %}
            <h2>{{ playlist }}</h2>

            <table>
                <tr>
                    <th>Song</th>
                    <th>Artist(s)</th>
                    <th>Album(s)</th>
                    <th>Count</th>
                </tr>        

                {% for item in data %}
                    <tr>
                        <td>{{ item["name"] }}</td>
                        <td>{{ item["artists"]|join(", ") }}</td>
                        <td>{{ item["albums"]|join(", ") }}</td>
                        <td>{{ item["count"] }}</td>
                    </tr>
                {% endfor %}
            </table>

            <br>
        {% endfor %}
    {% else %}
        <h1>No duplicate tracks!</h1>
    {% endif %}

    <br>

    <form action="{{ url_for('index') }}" method="GET">
        <button type="submit" class="nav-left">Start over</button>
    </form>

    <br>
    <br>
{% endblock %}
