{% extends "base.html" %}

{% block head %}
    <title>Spotify Playlist Analyser</title>
{% endblock %}

{% block body %}
    {% if top_artists %}
        <h1>Top artists</h1>

        <table>
            <thead>
                <tr>
                    <th>Playlist</th>
                    <th>Top artist(s)</th>
                    <th>Track count</th>
                </tr>   
            </thead>     

            <tbody>
                {% for item in top_artists %}
                    <tr>
                        <td>{{ item["playlist"] }}</td>
                        <td>{{ ", ".join(item["artists"]) }}</td>
                        <td>{{ item["count"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
    {% endif %}

    {% if duplicate_tracks %}
        <h1>Duplicate tracks</h1>
        
        {% for playlist, data in duplicate_tracks %}
            <h2>{{ playlist }}</h2>

            <table>
                <tr>
                    <th>Song</th>
                    <th>Artist(s)</th>
                    <th>Album(s)</th>
                    <th>Count</th>
                </tr>        

                {% for item in data %}
                    <tr>
                        <td>{{ item["name"] }}</td>
                        <td>{{ ", ".join(item["artists"]) }}</td>
                        <td>{{ ", ".join(item["albums"]) }}</td>
                        <td>{{ item["count"] }}</td>
                    </tr>
                {% endfor %}
            </table>

            <br>
        {% endfor %}
    {% endif %}

    <form action="{{ url_for('playlists') }}" method="GET">
        <button type="submit">Choose playlists</button>
    </form>
{% endblock %}
