{% extends "base.html" %}

{% block head %}
    <title>Spotify Playlist Analyser</title>
{% endblock %}

{% block body %}
    {% if top_artists %}
        <h1>Top artists</h1>

        <br>

        <table>
            <thead>
                <tr>
                    <th>Playlist</th>
                    <th>Top artist(s)</th>
                    <th>Track(s)</th>
                </tr>   
            </thead>     

            <tbody>
                {% for item in top_artists %}
                    <tr>
                        <td>{{ item["playlist"] }}</td>
                        <td>{{ item["artists"]|join(",<br>"|safe) }}</td>
                        <td>{{ item["count"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No top artists!</h1>
    {% endif %}

    <br>

    {% if duplicate_tracks %}
        <h1>Duplicate tracks</h1>

        <br>
        
        {% for item in duplicate_tracks %}
            <h2>{{ item["playlist"] }}</h2>

            <table>
                <thead>
                    <tr>
                        <th>Track</th>
                        <th>Artist(s)</th>
                        <th>Album(s)</th>
                        <th>Count</th>
                    </tr>      
                </thead>  
                
                <tbody>
                    {% for duplicate in item["duplicates"] %}
                        <tr>
                            <td>{{ duplicate["track"] }}</td>
                            <td>{{ duplicate["artists"]|join(",<br>"|safe) }}</td>
                            <td>{{ duplicate["albums"]|join(",<br>"|safe) }}</td>
                            <td>{{ duplicate["count"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>
        {% endfor %}
    {% else %}
        <h1>No duplicate tracks!</h1>
    {% endif %}

    <br>

    <form action="{{ url_for('index') }}" method="GET">
        <button type="submit" class="nav-left">Start over</button>
    </form>

    <br>
    <br>
{% endblock %}
