{% extends "base.html" %}

{% block head %}
    <title>Spotify Playlist Analyser</title>
{% endblock %}

{% block body %}
    <h1>Choose username</h1>

    <form action="{{ url_for('index') }}" method="POST">
        <label for="user">Username: </label>
        {% if username %}
            <input type="text" id="user" name="username" value="{{ username }}"/>
        {% else %}
            <input type="text" id="user" name="username" value="spotify"/>
        {% endif %}

        <br>
        <br>

        <label for="max">Maximum playlists: </label>
        {% if max_playlists %}
            <input type="number" name="max_playlists" id="max" min="1" value="{{ max_playlists }}">
        {% else %}
            <input type="number" name="max_playlists" id="max" min="1" value="10">
        {% endif %}

        <br>
        <br>

        <button type="submit">Get playlists</button>
    </form>
{% endblock %}
