{% extends "base.html" %}

{% block head %}
    <title>Spotify Playlist Analyser</title>
{% endblock %}

{% block body %}
    <h1>Choose username</h1>

    <br>

    <form action="{{ url_for('loading') }}" method="POST">
        <label for="user">Username: </label>
        <input type="text" id="user" name="username" value="{{ username or 'spotify' }}"/>

        <br>

        <label for="max">Maximum playlists: </label>
        <input type="number" name="max_playlists" id="max" min="1" value="{{ max_playlists or 10 }}">

        <br>
        <br>

        <button type="submit" class="nav-right">
            Get playlists
        </button>
    </form>

    <br>
    <br>
{% endblock %}
