{% extends "base.html" %}

{% block head %}
    <title>Spotify Playlist Analyser</title>
{% endblock %}

{% block body %}
    <h1>{{ username }}'s public playlists</h1>

    <br>

    <form action="{{ url_for('processing') }}" method="POST">
        <!-- <fieldset> -->
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Include</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for item in playlists %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <label for="{{ item['id'] }}">{{ item['name'] }}</label>
                            </td>
                            <td>
                                <input checked type="checkbox" id="{{ item['id'] }}" name="{{ item['id'] }}" value="{{ item['name'] }}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <!-- </fieldset> -->

        <br>

        <button type="submit" class="nav-right">Analyse</button>
    </form>
    
    <form action="{{ url_for('index') }}" method="GET">
        <button type="submit" class="nav-left">Choose username</button>
    </form>

    <br>
    <br>
{% endblock %}
