{% extends "base.html" %}

{% block head %}
    <title>Spotify Playlist Analyser</title>
{% endblock %}

{% block body %}
    <h1>{{ username }}'s public playlists</h1>

    <form action="{{ url_for('playlists') }}" method="POST">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Include</th>
                </tr>
            </thead>
            
            <tbody>
                {% for id, name in ids_names %}
                    <tr>
                        <td>
                            <label for="{{ id }}">{{ name }}</label>
                        </td>
                        <td>
                            <input checked type="checkbox" name="{{ id }}_{{ name }}" id="{{ id }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <button type="submit">Analyse</button>    
    </form>

    <br>
    
    <form action="{{ url_for('index') }}" method="GET">
        <button type="submit">Choose username</button>
    </form>
{% endblock %}
